@import url(header.css);
@import url(conteudo.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root{
    --roxoclaro: #a855f7;
    --roxoescuro:#9333ea;
    --mostarda:#ca8a04;
    --textdark:#1f2937;
    --textlight:#6b7280;
    --textextralight:#faf5ff;
    --larguramax:1200px;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
  }

  a{
    text-decoration: none;
  }


  @media (max-width: 750px){



  }